
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!DOCTYPE html>
<html>
<head>
	<title>BLOG</title>
	<link rel="icon" href="{% static 'img/logo.jpg' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
 <!--Header - menu-->
 <header>
	<div class="header-content">

			
		<div class="logo">
			<h1>Comunidades Eclesiales de Base Diócesis San Roque <a class="navbar-item" href="{% url 'home' %}"><img src="{% static 'img/mate.jpg' %}" width="75" height="75" alt="Logo"></a></h1>
		</div>

		<div class="menu">

			<nav>
				<nav class="navbar">
					<div class="container-fluid">
						<a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>

						<a class="nav-item">
							<a class="nav-link" href="{%url 'somos:quienes_somos'%}">¿Quienes somos?</a>
						 
						  <a class="nav-item">
							<a class="nav-link" href="{% url 'noticias:listar_noticias' %}">Noticias</a>
						  
						  <a class="nav-item">
							<a class="nav-link" href="{% url 'eventos:ver_eventos' %}">Eventos</a>
						  
						  <a class="nav-item">
							
					

							{% if user.is_authenticated %}
								<span>HOLA {{user.username}}!!</span>
								<a class="nav-item"></a>
								<a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
							{% else %}
								<a class="nav-item"></a>
								<a class="nav-link" href="{% url 'login' %}">LOGIN</a>
								<a class="nav-item"></a>
								<a class="nav-link" href="{% url 'usuarios:registro' %}">REGISTRAR</a>
							{% endif %}
				</ul>
			</nav>

		</div>

	</div>  
	<br><br>
	<!-- FIN MENU -->

	
	{% block contenido %}

	{% endblock contenido %}

</header>


</body>
</html>





